.CalendarViewer .monthView,.weekView,.dayViewContainer{
	font					: 11px helvetica,arial,sans-serif;
	border-spacing			: 0px;
	border-collapse			: collapse;
	margin					: auto;
}
/* http://www.iconarchive.com/show/fugue-icons-by-yusuke-kamiyamane.8.html */
.calendarIcon {
	background-image: url("images/calendar.gif") !important;
}
.calendarToday {
	background-image: url("images/calendar-insert-icon.png") !important;
}
.calendarSelectMonthIcon {
	background-image: url("images/calendar-select-month-icon.png") !important;
}
.calendarSelectTwoWeekIcon {
	background-image: url("images/calendar-select-days-span.png") !important;
}
.calendarSelectWeekIcon {
	background-image: url("images/calendar-select-week-icon.png") !important;
}
.calendarSelectIcon {
	background-image: url("images/calendar-select-icon.png") !important;
}
/* http://lea.verou.me/css3patterns/#diagonal-stripes */
.eventPatternHStripes{
	background-image: repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 5px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.5) 10px)
}
.eventPatternVStripes{
	background-image: repeating-linear-gradient(90deg,transparent, transparent 20px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 40px);
}
.eventPatternDStripes{
	background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.5) 15px, rgba(255, 255, 255, 0.5) 24px);
}
.eventPatternRDStripes{
	background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.5) 15px, rgba(255, 255, 255, 0.5) 24px);
}
.eventPatternZigZag{
	background:
	linear-gradient(135deg, white 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, white 25%, transparent 25%) -50px 0,
	linear-gradient(315deg, white 25%, transparent 25%),
	linear-gradient(45deg, white 25%, transparent 25%);
	background-size: 30px 30px;
}
.eventPatternSteps{
	background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
	0px 36px, 4px 2px, 29px 6px, 33px 30px;
	background-image:
	linear-gradient(335deg, #C90032 23px, transparent 23px),
	linear-gradient(155deg, #C90032 23px, transparent 23px),
	linear-gradient(335deg, #C90032 23px, transparent 23px),
	linear-gradient(155deg, #C90032 23px, transparent 23px),

	linear-gradient(335deg, #C90032 10px, transparent 10px),
	linear-gradient(155deg, #C90032 10px, transparent 10px),
	linear-gradient(335deg, #C90032 10px, transparent 10px),
	linear-gradient(155deg, #C90032 10px, transparent 10px);
}
.CalendarViewer .dayView-header{
	height					: 16px;
	line-height				: 16px;
	font-size				: 16px;
	text-align				: right;
	color					: #A7C6DF;
}
.CalendarViewer .weekend  {
	background				: #EFF9FC;
}
.CalendarViewer .outMonth{
	background				: #EFEFEF;
	font-color				: ##BBBBBB;
}
.CalendarViewer .weekView{
}
.CalendarViewer .dayView {
	border					: 1px solid #C3D9FF;
	text-align				: left;
	vertical-align			: top;
	display					: inline-block;
}
.CalendarViewer .dayView .event{
	height					: 10px;
	line-height				: 12px;
	margin-top				: 2px;
	padding					: 1px 1px 1px 4px;
	overflow				: hidden;
}
.CalendarViewer .currentDay{
	border-color				: #DD3333;
}
.CalendarViewer .dayView .event.roundRight{
	border-top-right-radius		:3px;
	border-bottom-right-radius	:3px;
}
.CalendarViewer .dayView .event.roundLeft{
	border-top-left-radius		:3px;
	border-bottom-left-radius	:3px;
}
.CalendarViewer .weekNum{
	float					:left;
	font-style				:italic
}
.CalendarViewer .dayTitle {
	float					: left;
	margin-left				: 25px;
	text-align				: center;
}
.CalendarViewer .dayName {
	float					:right;
	padding-right			:5px;
}
.CalendarViewer .dayNum {
	float					:right;
}
.CalendarViewer ul.dayView-content{
	overflow				: auto;
}
.CalendarViewer .dayView-content-holder{
	overflow				: auto;
}
.CalendarViewer .monthView-dayView-content,.weekView-dayView-content{
	overflow				: auto;
}
.CalendarViewer ul.dayView-fullday-content{
	color					: #000000;
	float					: left;
	font					: 10px helvetica,arial,sans-serif;
	height					: 14px;
	overflow				: hidden;
	text-align				: left;
}
.CalendarViewer ul.dayView-fullday-content li{
	margin-left				: 2px;
	width					: 25px;
}
.CalendarViewer .dayView-content .event{
	overflow				: hidden;
}
.range-event{

}
.fullday-even{
	border					: 1px dashed #8A8A8A;
}

.event-color-0 { background-color:#fce94f; }	.event-color-0.eventOver {background-color:#edd400;}
.event-color-1 { background-color:#fcaf3e; }	.event-color-1.eventOver {background-color:#f57900;}
.event-color-2 { background-color:#e9b96e; }	.event-color-2.eventOver {background-color:#c17d11;}
.event-color-3 { background-color:#8ae234; }	.event-color-3.eventOver {background-color:#73d216;}
.event-color-4 { background-color:#729fcf; }	.event-color-4.eventOver {background-color:#3465a4;}
.event-color-5 { background-color:#ad7fa8; }	.event-color-5.eventOver {background-color:#75507b;}
.event-color-6 { background-color:#ef2929; }	.event-color-6.eventOver {background-color:#cc0000;}
.event-color-7 { background-color:#eeeeec; }	.event-color-7.eventOver {background-color:#d3d7cf;}
.event-color-8 { background-color:#888a85; }	.event-color-8.eventOver {background-color:#555753;}
.event-color-9 { background-color:#edd400; }	.event-color-9.eventOver {background-color:#c4a000;}
.event-color-10{ background-color:#f57900; }	.event-color-10.eventOver{background-color:#ce5c00;}
.event-color-11{ background-color:#c17d11; }	.event-color-11.eventOver{background-color:#8f5902;}
.event-color-12{ background-color:#73d216; }	.event-color-12.eventOver{background-color:#4e9a06;}
.event-color-13{ background-color:#3465a4; }	.event-color-13.eventOver{background-color:#204a87;}
.event-color-14{ background-color:#75507b; }	.event-color-14.eventOver{background-color:#5c3566;}
.event-color-15{ background-color:#cc0000; }	.event-color-15.eventOver{background-color:#a40000;}
.event-color-16{ background-color:#d3d7cf; }	.event-color-16.eventOver{background-color:#babdb6;}
.event-color-17{ background-color:#555753; }	.event-color-17.eventOver{background-color:#2e3436;}

.event_cxd_ghost		{ background-color:#fce94f; }	.event_cxd_ghost.eventOver		{background-color:#edd400;}
.event_cxd_allowance	{ background-color:#c17d11; }	.event_cxd_allowance.eventOver	{background-color:#8f5902;}
.event_cxd_rainy		{ background-color:#ad7fa8; }	.event_cxd_rainy.eventOver		{background-color:#75507b;}
.event_cxd_contest		{ background-color:#73d216; }	.event_cxd_contest.eventOver	{background-color:#4e9a06;}

.x-form-cb-label-classpreview{
	border			: 1px solid #DDDDDD;
	display			: inline-block;
	width			: 12px;
	height			: 12px;
	vertical-align	: bottom;
	margin-bottom	: 2px;
	margin-right	: 2px;
}