.RedmineHeaderGroupName {
	font-weight: normal;
}

.icon-add {
	background-image:url(./images/add.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-delete {
	background-image:url(./images/delete.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-application_edit {
	background-image:url(./images/application_edit.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-magnifier {
	background-image:url(./images/magnifier.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-time {
	background-image:url(./images/time.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-user-assign {
	background-image:url(./images/user_assign.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-user-add {
	background-image:url(./images/user_add.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-save {
	background-image:url(./images/issue_save.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-file-attach {
	background-image:url(./images/file_attach.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-magnifier {
	background-image:url(./images/magnifier.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-read {
	background-image:url(./images/read.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-star_grey {
	background-image:url(./images/star_grey.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.icon-star_yellow {
	background-image:url(./images/star_yellow.png) ! important;
	width:16px;height:16px;float:left;cursor:pointer;
}
.issue_pin_yellow{
	background: url(./images/issue_pin_yellow.png) no-repeat !important;
}